{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Entrada de Materiais</title>
</head>

<body>
    <h2>Entrada de Materiais</h2>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <table id="form-table">
                <tbody>
                    <tr>
                        {{form}}
                    </tr>
                </tbody>
            </table>
            <div id="container-buttons">
                <button type="submit" class="btn btn-primary">Adicionar na Lista</button>
            </div>
        </form>
    </div>

    <h2>Registro de Entradas</h2>

    <div>
        <thead>
            <table class="tabela_registro">
                <tr>
                    <th>Descriçao do Material</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Data de Entrada</th>
                </tr>
        </thead>
        <tbody>
            {% for prod in produtos %}
            <tr>
                <td id="descricao">{{prod.descricao}}</td>
                <td>{{prod.unidade_medida}}</td>
                <td>{{prod.quantidade}}</td>
                <td id="preco">{{prod.preco}}</td>
                <td>{{prod.data_entrada}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>

</html>